<div class="modal-dialog">
  <div class="modal-content">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t '.postpoem' %></div>
      <div class="media-body">
        <div>
          <p><%= image_tag @photo.image_name , class:'img-responsive' %></p>
        </div>
      </div>
      <div class="panel-body">
        <%= form_with(model: @poem, remote: true, class:'poem-form') do |f| %>
          <%= render 'layouts/flash_messages' %>
          <div class="form-group">
            <%= f.text_field :title, :placeholder => "#{t('.placeholder')}" , class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', rows: 10 %>
          </div>
            <%= f.hidden_field :photo_id, value: @photo.id %>
          <div class="text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t '.cancel' %></button>
            <%= f.submit t('.post'), class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>