<div class="row">
  <div class="box-container">
    <% @poems.each do |poem| %>
      <div class="poem-photo-show">
        <%= link_to poem_path(poem), class: 'poem-responsive' do%>
          <div>
            <h3><%= poem.title %></h3>
            <%= simple_format(h(poem.content.truncate(300))) %>
          </div>
        <% end %>
        <span class="text-muted"><%= poem.created_at.strftime("%Y/%m/%d") %>  
            <%= link_to poem.user.name, controller: "users", action: "show", id: poem.user.id, user_name: poem.user.name  %></span>
        <% if logged_in? %>
          <div class="like_form" id="like-form-poem-<%= poem.id %>">
            <% if current_user.liked_poem?(poem) %>
              <%= render 'favorites/unlike_button', type: 'LikePoem', poem: poem %>
            <% else %>
              <%= render 'favorites/like_button', type: 'LikePoem', poem: poem %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @poems %>