<div class="row">
  <div class="box-container">
    <% @poems.each do |poem| %>
      <div class="poem-show-box">
        <%= link_to poem_path(poem) do %>
          <%= image_tag poem.photo.image_name, class: 'img-responsive' %>
          <div class="poem-responsive" >
            <h3><%= poem.title %></h3>
            <%= simple_format(h(poem.content.truncate(100))) %>
          </div>
        <% end %>
        <div>
          <span class="text-muted"><%= poem.created_at.strftime("%Y/%m/%d %H:%M") %>  
          <%= link_to poem.user.name, controller: "users", action: "show", id: poem.user.id, user_name: poem.user.name %></span>
          <% if logged_in? %>
            <div class="like_form" id="like-form-<%= poem.id %>">
              <% if current_user.liked_poem?(poem) %>
                <%= render 'favorites/unlike_button', type: 'LikePoem', poem: poem %>
              <% else %>
                <%= render 'favorites/like_button', type: 'LikePoem', poem: poem %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @poems %>