<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">ポエム投稿</div>
      <div class="media-body">
        <div>
          <p><%= image_tag @photo.image_name , class:'img-responsive' %></p>
        </div>
      </div>
      <div class="panel-body">
        <%= form_with(model: @poem, local: true) do |f| %>
        
          <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 10 %>
        </div>
          <%= f.hidden_field :photo_id, value: @photo.id %>
          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>