<div class="modal-dialog">
  <div class="modal-content">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @user.name %></div>
      <div class="panel-body">
        <%= form_with(model: @user, remote: true, class: 'user-form') do |f| %>
        <%= render 'layouts/error_messages' %>
          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Emil' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmation' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :note, 'Note' %>
            <%= f.text_area :note, class: 'form-control', rows: 5 %>
          </div>
          
          <div class="form-group">
            <%= f.label :image, 'Select Image', class: 'btn btn-secondary' %>
            <%= f.file_field :image, class: 'hidden' %>
            
            <% if @user.image.attached? %>
              <%= image_tag @user.image, id: 'image-preview' %>
            <% else %>
              <img id="image-preview">
            <% end %>
          </div>

          <div class="text-right">
            <%= f.submit 'Submit', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('user_image').addEventListener('change', function (e) {
    var file = e.target.files[0];
    var blobUrl = window.URL.createObjectURL(file);
    var img = document.getElementById('image-preview');
    img.src = blobUrl;
});
</script>