<% if @user.image.attached? %>
  <% set_meta_tags title: @user.name, description: @user.note, 
                    og: { title: @user.name, url: user_url(@user,:only_path => false), image: @user.image.attachment.service.send(:object_for, @user.image.key).public_url } %>
<% else %>
  <% set_meta_tags title: @user.name, description: @user.note, 
                  og: { title: @user.name, url: user_url(@user,:only_path => false), image: image_url('/user_default.png') } %>
<% end %>

<div class="user" >
  <%= render @user %>
</div>

<div class="contents">
  <input id="followings" type="radio" name="tab_item">
  <label class="tab_item" for="followings"><%=t 'following' %></label>
  
  <input id="followers" type="radio" name="tab_item">
  <label class="tab_item" for="followers"><%=t 'follower' %></label>
  
  <div class="tab_content" id="followings_content">
    <div class="tab_content_description">
      <%= render 'relationships/follow_list', users: @followings %>
    </div>
  </div>
  
  <div class="tab_content" id="followers_content">
    <div class="tab_content_description">
      <%= render 'relationships/follow_list', users: @followers %>
    </div>
  </div>
</div>

<script>
(function () {
        let params = location.search;
    if( ~params.indexOf('followings') ){
      let element = document.getElementById( "followings" ) ;
      element.checked = true;
    }else if( ~params.indexOf('followers') ){
      let element = document.getElementById( "followers" ) ;
      element.checked = true;
    }
}());
</script>