<% if logged_in? %>
  
  <div class="user" >
    <%= render current_user %>
  </div>

  <div class="contents">
    <input id="poem" type="radio" name="tab_item" checked>
    <label class="tab_item" for="poem"><%= t 'poem' %></label>
    
    <input id="photo" type="radio" name="tab_item">
    <label class="tab_item" for="photo"><%= t 'photo' %></label>
    
    <div class="tab_content" id="poem_content">
      <div class="tab_content_description">
        <%= render 'poems/poem', poems: @poems %>
        <% if @poems.blank? %>
          <div class="none-contents">
            <%= link_to t('postpoem'), all_path, class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="tab_content" id="photo_content">
      <div class="tab_content_description">
        <%= render 'photos/photo', photos: @photos %>
        <% if @photos.blank? %>
          <div class="none-contents">
            <%= link_to t('postphoto'), new_photo_path, remote: true, class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <h2><%= t '.heading' %></h2>
              <%= link_to t('.begin'), signup_path, class: 'btn btn-success btn-lg', remote: true %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="contents">
    <input id="poem" type="radio" name="tab_item">
    <label class="tab_item" for="poem"><%= t 'poem' %></label>
    
    <input id="photo" type="radio" name="tab_item" checked>
    <label class="tab_item" for="photo"><%= t 'photo' %></label>
    
    <div class="tab_content" id="poem_content">
      <div class="tab_content_description">
        <%= render 'poems/poem', poems: @poems %>
      </div>
    </div>
    
    <div class="tab_content" id="photo_content">
      <div class="tab_content_description">
        <%= render 'photos/photo', photos: @photos %>
      </div>
    </div>
  </div>
<% end %>