<div class="row">
  <div class="box-container">
    <% @photos.each do |photo| %>
      <div class=" show-box">
        <%= link_to image_tag(photo.image_name), photo_path(photo), class: 'img-responsive' %>
          <div>
            <span class="text-muted"><%= photo.created_at.strftime("%Y/%m/%d %H:%M") %>  
            <%= link_to photo.user.name, controller: "users", action: "show", id: photo.user.id, user_name: photo.user.name  %> </span>
            <div class="like_form" id="like-form-<%= photo.id %>">
              <% if current_user.liked_photo?(photo) %>
                <%= render 'favorites/unlike_button', type: 'LikePhoto', photo: photo %>
              <% else %>
                <%= render 'favorites/like_button', type: 'LikePhoto', photo: photo %>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @photos %>