
<% if @photo.errors.any? %>
    <div class="alert alert-danger"><%= @photo.errors.full_messages %></div>
<% end %>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Post Image</div>
      <div class="panel-body">
        <%= form_with(model: @photo, local: true) do |f| %>
        
          <div class="form-group">
            <%= f.label :image_name, 'Picture' %>
            <%= f.file_field :image_name %>
            <% #<input type="hidden" value="" name="photo[image_name]" id="photo_image_name"> %>
          </div>

          <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>